
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/musicPlayerScripts.js" asp-append-version="true"></script>

<audio id="player" controls autoplay>
</audio>

<div id="music-list">
</div>